* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Needs to be changed to proper font! */
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}

h1, h3, h4, h5, p, label {
    color: #0B549E;
}

/* Styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C1D9F8;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #000;
}

.logo img {
    width: 40px;
    height: 40px;
}
  
.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.links li {
    margin-left: 20px;
}

.links li a {
    font-size: 15px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}
  
.links li a:hover {
    color: #fff; /* Change color to white on hover */
}

.register-button {
    margin-left: auto;
}

.register-button a {
    border: solid 1px #000;
    font-size: 15px;
    padding: 12px 15px;
    background-color: #0B549E;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.register-button a:hover {
    background-color: #0E6BC7;
}

/* Burger Menu Styles */
.menu-icon {
    display: none; /* Hide the menu icon by default */
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

/* Home page styles */
.headingContainer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.home-container {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.main-cta {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: #0B549E;
    color: #fff;
    border: solid 1px #000;
    cursor: pointer;
    animation: pulse 2s infinite;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.main-cta:hover {
    background-color: #106cc8;
}
  
.centered-row {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}  
  
@keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(44, 132, 219, 0.4);
    }
    70% {
      transform: scale(1.05);
      box-shadow: 0 0 0 10px rgba(44, 132, 219, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(44, 132, 219, 0);
    }
}  
  
.keywords-bar {
    overflow: hidden;
    margin: 0 auto;
    width: 600px; /* Adjust the width as desired */
    margin-bottom: 70px;
}
  
.keywords-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
  
.keywords-list li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0 10px;
    font-size: 14px;
    color: #0B549E;
}
  
.keywords-list li i {
    margin-right: 5px;
}

.header h1 {
    font-size: 2.2em;
}
  
.content-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
  
.content-left,
.content-right {
    flex-basis: 50%;
}
  
.content-left p,
.content-right img {
    width: 100%;
    display: block;
}

.testimonials-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
  
.testimonial-box {
    background-color: #fff;
    border: solid 1px #0B549E;
    max-width: 800px; /* Adjust the maximum width of the testimonial boxes as needed */
    padding: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.testimonial-content {
    margin-bottom: 20px;
}

.testimonial-info {
    margin-top: 20px;
}
  
.testimonial-name, .testimonial-occupation {
    margin-top: 5px;
    font-style: italic;
}
  
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
}
  
.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: #d0d0d0;
}
  
.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #888;
    border-right: 2px solid #888;
    transform: rotate(45deg);
}
  
.swiper-button-prev::after {
    transform: rotate(-135deg);
}
  
.swiper-container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
  
.faq-box {
    cursor: pointer;
    color: #0B549E;
    border: solid 1px #0B549E;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 800px;
    display: flex;
    align-items: center;
}
  
.question {
    font-weight: bold;
    margin-right: auto;
}
  
.plus-icon {
    font-size: 20px;
    margin-left: 10px;
}
  
.answer {
    color: #0B549E;
    overflow: hidden;
    max-height: 0;
    width: 80%;
    max-width: 700px;
    transition: max-height 0.3s ease-out;
    margin-bottom: 10px;
}

.faq-register-link {
    color: #0B549E;
}

.faq-register-link:hover {
    color: #C1D9F8;
}

.still-have-questions {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
  
.section-heading {
    margin-bottom: 35px;
}
  
.contact-button {
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #0B549E;
    background-color: #fff;
    border: solid 1px #0B549E;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.contact-button:hover {
    background-color: #C1D9F8;
    transform: scale(1.1);
}  

/* Contact us page styles */
.contactContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}
  
.contactContainer h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.contactContainer p {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 30px;
    text-align: left;
}

.contactContainer form label {
    font-size: 13px;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container a {
    color: #0B549E;
}
  
.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #0B549E;
    transition: border-color 0.3s ease-in-out;
    flex-shrink: 0;
}
  
.checkbox-container input[type="checkbox"]:checked {
    border-color: #3498db;
}
  
.checkbox-container input[type="checkbox"]:focus {
    border-color: #2980b9;
}
  
.checkbox-container label {
    margin-top: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0B549E;
}

form input[type="submit"] {
    background-color: #0B549E;
    color: white;
    padding: 15px 20px;
    border: solid 1px #000;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}  

form input[type="submit"]:hover {
    color: #3c3c3c;
    background-color: #C1D9F8;
    transform: scale(1.1);
}

.contact-info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
  
.contact-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
  
.contact-item i {
    color: #0B549E;
    font-size: 30px;
    margin-bottom: 10px;
}
  
.contact-item div {
    text-align: center;
}
  
.contact-item h2 {
    margin-bottom: 10px;
    color: #0B549E;
}
  
.contact-item a {
    display: flex;
    align-items: center;
    font-weight: lighter;
    color: #0B549E;
}
  
.contact-item a:hover {
    color: #C1D9F8;
}

/* Subscriptions page styles */
.subscriptionsHead {
    margin-left: 25px;
    margin-bottom: 50px;
}

.subscriptionsHead h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subscriptionsHead h5 {
    font-size: 14px;
    margin-bottom: 10px;
}

.subscriptionContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.subscription-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    background-color: #ffffff;
    border: 1px solid #0B549E;
    padding: 20px;
    width: 400px; /* Adjust the width as needed */
    margin-right: 20px; /* Adjust the margin as needed */
    box-sizing: border-box;
}
  
.header {
    text-align: left;
    margin-bottom: 25px;
}
  
.header h1 {
    font-size: 40px;
}
  
.divider {
    border-bottom: 1px solid #000000;
    margin-bottom: 25px;
}
  
.features {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.features li {
    color: #0B549E;
    margin-bottom: 15px;
}
  
.features li i {
    margin-right: 15px;
    color: #0B549E;
}

.cta-button {
    text-align: center;
}
  
.get-started-button {
    border: solid 1px #000;
    display: inline-block;
    padding: 13px 60px;
    background-color: #0B549E;
    color: #ffffff;
    text-decoration: none;
    margin-top: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-button:hover {
    background-color: #0E6BC7;
    transform: scale(1.1);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .links {
      display: none; /* Hide the links by default */
    }
  
    .menu-icon {
      display: inline-block; /* Show the menu icon */
    }

    #menu-toggle:checked + .menu-icon span {
        background-color: #fff; /* Change line color when the menu icon is checked */
    }

    #menu-toggle:checked + .menu-icon + .links {
        display: flex; /* Show the links when the menu icon is checked */
        flex-direction: column;
        background-color: #C1D9F8;
        padding: 10px;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
    }

    #menu-toggle:checked + .menu-icon + .links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .headingContainer {
        margin: 0 10px;
    }

    .keywords-bar {
        width: 300px;
    }

    .content-section {
        flex-direction: column;
    }
    
    .content-left,
    .content-right {
        margin: 20px 20px;
    }

    .testimonials-section {
        justify-content: center;
    }
      
    .testimonial-box {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }
    
    .contact-item {
        margin-right: 0;
    }

    .subscriptionsHead {
        margin-left: 10px;
    }

    .subscription-box {
        margin: 20px;
    }
}